.aboutus__endsection,
.aboutus__intro,
h1 {
  margin-inline: 10px;
}

h1 {
  color: var(--cherry_red);
  margin-top: 2em;
}

.aboutus__intro, .aboutus__endsection > div{
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.aboutus__intro p, .aboutus__endsection div p {
  min-width: 25ch;
  flex: 5;
  align-items: stretch;
  margin: 0;
  height: inherit;
}

.aboutus__intro div, .aboutus__endsection__img {
  flex: 2;
  min-width: 200px;
  height: inherit;
}

.aboutus__intro img {
  object-position: 70%;
}

.aboutus__middlesection {
  background: var(--cobalt_blue);
  color: white;
  padding: 10% 10px;
  margin: 10% 0;
  overflow: hidden;
}

.aboutus__middlesection img {
  height: calc(4rem + 20vw);
  width: calc(100% + 20px);
  position: relative;
  left: -10px;
}

.aboutus__endsection > div {
  flex-flow: row-reverse wrap;
}

.aboutus__endsection__img {
  order: 1;
}

/* centering desktop */
@media only screen and (min-width: 1024px) {
  .aboutus__endsection,
  .aboutus__intro,
  h1 {
    margin-inline: var(--page-margin-centering);
  }

  .aboutus__middlesection {
    padding: 3em var(--page-margin-centering);
  }
}
