.aboutus_endsection,
.aboutus__intro,
h1 {
  margin-inline: 10px;
}

h1 {
  color: var(--cherry_red);
}

main img {
  width: 100%;
}

.aboutus__intro {
  display: flex;
  flex-flow: row wrap;
}

.aboutus__intro p {
  min-width: 25ch;
  flex: 5;
  align-items: stretch;
  margin: 0;
  height: inherit;
}

.aboutus__intro div {
  flex: 2;
  min-width: 200px;
  height: inherit;
}

.aboutus__intro img {
  height: 100%;
  object-fit: cover;
  object-position: 70%;
}

.aboutus__middlesection {
  background: var(--cobalt_blue);
  color: white;
  padding: 10% 10px;
  margin: 10% 0;
  height: 100%;
}

.aboutus__middlesection img {
  height: calc(4rem + 20vw);
  object-fit: cover;
  width: calc(100% + 20px);
  position: relative;
  left: -10px;
}

/* centering desktop */
@media only screen and (min-width: 1024px) {
  .aboutus_endsection,
  .aboutus__intro,
  h1 {
    margin-inline: var(--page-margin-centering);
  }

  .aboutus__middlesection {
    padding: var(--page-margin-centering);
  }
}
