.content-wrapper__center section{
  margin: 5rem 1rem 0;
}

.topbanner_exhibition {
  display: flex;
  align-items: center;
  gap: 5%;
  max-height: 50%;
  width: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 7% 10%;
  min-height: 100px;
}

.topbanner_exhibition img {
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.7));
}

.img-container_banner {
  align-self: stretch;
  max-width: 250px;
  min-width: 40px;
  flex: 1;
  margin: auto 0;
}

h1 {
  line-height: 1;
  margin: 1%;
  flex: 4;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* profile */
.staff__section {
  display: flex;
  flex-flow: row wrap;
  column-gap: calc(5vw + 120px);
}

.profile img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}
.pr_tobi-wan img {
  object-position: 50% 10%;
}

.pr_lucy img {
  object-position: 35% 100%;
}

.profile p:nth-child(2),
.profile p:nth-child(3) {
  margin: 0;
}
