h2 {
  text-align: center;
}


/* hero */
  .hero {
    display: flex;
    align-items: center;
  }

  .hero__img {
    width: 100%;
    min-height: 400px;
    object-fit: cover;
  }

  .hero__text {
    margin-left: 3%;
    position: absolute;
  }

  .hero__text p {
    margin: 0;
    color: white;
  }

  .hero__text p:nth-child(3) {
    color: var(--chem_green);
  }

/* Exhibition tiles */

.exhibition__container {
  display: grid;
  gap: 1%;
  grid-template-columns: repeat(2, 1fr);
}

.tile {
  display: grid;
  background-size: cover;
  width: 100%;
}

.tile__descr{

}


.tile--cosmology {background-image: url(/assets/images/img_cosmology_tile.jpg);}
.tile--ecology {background-image: url(/assets/images/img_ecology_tile.jpg);}
.tile--microbiology {background-image: url(/assets/images/img_microbiology_tile.jpg);}
.tile--paleontology {background-image: url(/assets/images/img_paleontology_tile.jpg);}
.tile--vr {background-image: url(/assets/images/img_vr_tile.jpg);}
.tile--physics {background-image: url(/assets/images/img_physics_tile.jpg);}

.tile__descr {
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 100%;
  height: 70%;
  padding: 15% 0;
  display: grid;
  grid-template-rows: 1fr 30%;
}

.tile__icon {
width: 45%;
}

.tile__descr h3 {
  margin: 0 auto;
}

.tile__descr img {
  place-self: center;
}

@media only screen and (min-width: 768px) {
  .exhibition__container {
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .exhibition__container {
    max-width: 70%;
  }
}