:root {
    
    /* Color Palette */
    --beige: #fff1df;
    --charcoal: #272727;
    --tangerine: #ff6900;
    --cherry_red: #e3006a;
    --chem_green: #39db00;
    --forest_green: #458718;
    --intelligent_blue: #05aff2;
    --cobalt_blue: #0047ab;

    /* font styles */
    --font-size-h1: clamp(2.125rem, 6.8vw + 0.856rem, 6.25rem);
    --font-size-h2: clamp(1.875rem, 1.6vw + 1.475rem, 2.75rem);
    --font-size-h3: clamp(1rem, 1.143vw + 0.964rem, 1.875rem);
    --font-size-copy: clamp(1.125rem, 0.686vw + 0.954rem, 1.5rem);

}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-h1);
    color: white;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
    color: white;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-copy);
}

body {
    margin-inline: 0;
}

