:root {
  /* Color Palette */
  --beige: #fff1df;
  --charcoal: #272727;
  --tangerine: #ff6900;
  --cherry_red: #e3006a;
  --chem_green: #39db00;
  --forest_green: #458718;
  --intelligent_blue: #05aff2;
  --cobalt_blue: #0047ab;

  /* font styles */
  --font-size-h1: clamp(2.125rem, 5.8vw + 0.856rem, 5rem);
  --font-size-h2: clamp(1.875rem, 1.6vw + 1.475rem, 2.75rem);
  --font-size-h3: clamp(1rem, 1.143vw + 0.964rem, 3rem);
  --font-size-copy: clamp(1.125rem, 0.686vw + 0.954rem, 1.5rem);

  --page-margin-centering: 15%;
}

h1 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: var(--font-size-h1);
  color: white;
}

h2,
h3 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
  color: white;
}

p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: var(--font-size-copy);
}

body,
.exhibition_events p {
  margin: 0;
}

footer {
  background-color: var(--tangerine);
  padding: 3em 2em 1em;
}

.footer__content {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: fit-content;
  gap: 3em;
}

.footer__content p:nth-child(2),
.footer__content p:nth-child(3),
.toggle_btn:checked ~ p,
.contactus div:nth-child(1),
.contactus div:nth-child(2) {
  margin-left: 1em;
}

.footer__socialmedia {
  text-align: center;
  color: white;
}

.footer__socialmedia img {
  margin: 0 clamp(5px, 1vw + 0.2rem, 20px);
}

.footer__socialmedia div {
  height: clamp(40px, 3vw + 1rem, 100px);
}

/* .content-wrapper__center > * {
  margin-top: 12rem;
} */

a {
  text-decoration: none;
  font-family: open sans, arial, helvetica, sans-serif;
  color: black;
}

@media only screen and (min-width: 1024px) {
  .content-wrapper__center {
    max-width: 50%;
    margin: 0 auto !important;
  }
}

/* NAVBAR */
.navbar {
  display: flex;
  height: 70px;
  width: calc(100% - 10%);
  background-color: var(--intelligent_blue);
  padding: 0.7em 5%;
  z-index: 100;
}

.logo-wrapper {
  flex: 1;
}

.menu {
  margin-left: 7%;
}

.logo-wrapper,
.searchbar,
menu {
  z-index: 100;
}
/* menu checkbox hack */
nav label::after {
  content: "+";
  margin-left: 10px;
}

nav {
  position: absolute;
  left: 0;
  margin-top: 25px;
  background-color: var(--intelligent_blue);
  z-index: 1;
  animation: navbar 0.4s alternate;
  transition: all 0.4s ease-in;
  transform-origin: top;
}

nav li,
nav a {
  list-style-type: none;
  color: white;
  font-family: montserrat Arial, Helvetica, sans-serif;
  font-size: var(--font-size-h3);
  font-weight: bold;
}

nav li {
  margin-left: 10%;
}

nav ul > li {
  margin-bottom: 10px;
}

.exhibitions__list li a {
  display: flex;
  gap: 15px;
}

.exhibitions__list li img {
  height: clamp(20px, 1.143vw + 0.964rem, 35px);
  width: clamp(25px, 1.143vw + 0.964rem, 35px);
  margin: auto 0;
}

nav > ul > li:first-child,
nav > ul > li:nth-child(3),
nav > ul > li:last-child {
  margin-bottom: 1.4em;
}

.active-li {
  text-decoration: underline;
  position: relative;
  pointer-events: none;
}

/* search */
.searchbar-wrapper {
  height: 60%;
  min-width: 50px;
}

.search-btn {
  height: inherit;
  top: 0;
  right: 0;
  padding-right: 5px;
  display: flex;
}

.fa-search {
  font-size: 1.8em;
}

.search-input {
  height: inherit;
  border: var(--intelligent_blue) solid 2px;
  padding: 15px;
  z-index: 100;
  font-size: 1.2em;
}

.searchbar-wrapper:hover .search-input {
  min-width: 30ch;
  animation: searchbar 0.3s forwards;
  transform-origin: 100% 50%;
}

.search-input::-webkit-search-cancel-button {
  position: relative;
  right: 20px;
}

/* goes over multiple pages */
/* upcoming events */
.exhibition_events {
  width: calc(15rem + 14vw);
}

.exhibition_events img {
  object-fit: cover;
}

.exhibition_events__img {
  height: calc(5rem + 5vw);
}

.exhibition_events p:last-child {
  margin-top: 1em;
}

.event__date::before {
  content: url(/assets/icons/icon__calendar.svg);
  margin-right: 13px;
}

.upcoming-events a {
  text-decoration: underline;
}

/* DRY */
#hamburger-menu,
nav,
#exhibitions-nav,
.exhibitions__list,
.search-input,
.toggle_btn,
.toggle_btn ~ p {
  display: none;
}

#hamburger-menu:checked ~ nav,
#exhibitions-nav:checked ~ .exhibitions__list,
.toggle_btn:checked ~ p,
.content-wrapper__faq label,
.searchbar-wrapper:hover .search-input  {
  display: block;
}

.menu,
.searchbar-wrapper,
.fa-search,
.tile__descr,
.contactus div img {
  align-self: center;
}

.exhibition_events img,
.footer__socialmedia div,
nav,
.search-input,
.main__aboutus img,
.guided-tour img,
.contactus div img,
.topbanner_exhibition img,
.static__google-map,
.content-wrapper_mapandinfo,
.hero__img,
.tile,
.tile__descr,
.aboutus__endsection h2 {
  width: 100%;
}

.logo,
.menu__icon img,
.searchbar__icon,
.footer__socialmedia img,
.searchbar,
.exhibition_events img,
.aboutus__middlesection,
.aboutus__intro img,
.guided-tour img,
.contactus div img {
  height: 100%;
}

.hero__img,
.guided-tour img,
.main__aboutus img,
.profile img {
  object-fit: cover;
}

/* Media queries */

@media only screen and (max-width: 1023px) {
  .searchbar-wrapper:hover .search-input {
    position: absolute;
    top: 92px;
    height: 60px;
    width: 100%;
    left: 0;
    margin-right: 0;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (min-width: 1024px) {
  .searchbar {
    position: relative;
    height: 100%;
  }
  .search-btn {
    position: absolute;
  }
  .search-input {
    border-radius: 4px;
  }
  .searchbar-wrapper {
    flex: 1;
  }
  .content-wrapper__contactus {
    flex-flow: row wrap;
  }
}

@keyframes searchbar {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes navbar {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
