:root {
  /* Color Palette */
  --beige: #fff1df;
  --charcoal: #272727;
  --tangerine: #ff6900;
  --cherry_red: #e3006a;
  --chem_green: #39db00;
  --forest_green: #458718;
  --intelligent_blue: #05aff2;
  --cobalt_blue: #0047ab;

  /* font styles */
  --font-size-h1: clamp(2.125rem, 5.8vw + 0.856rem, 5rem);
  --font-size-h2: clamp(1.5rem, 1.6vw + 1.475rem, 2.75rem);
  --font-size-h3: clamp(1rem, 1.143vw + 0.964rem, 3rem);
  --font-size-copy: clamp(1rem, 0.686vw + 0.954rem, 1.25rem);

  --page-margin-centering: 15%;
}

h1 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: var(--font-size-h1);
  color: white;
}

h2,
h3 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
  color: white;
}

p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: var(--font-size-copy);
}

.container {
  margin-inline: 1rem;
}


body,
.exhibition_events p {
  margin: 0;
}

footer {
  background-color: var(--tangerine);
  padding: 3em 2em 1em;
  margin-top: 4em;
}

.footer__content {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: fit-content;
  gap: 3em;
}

.footer__content p {
  margin-block: 0.75rem;
}

.toggle_btn:checked ~ p {
  margin-left: 1em;
}

.footer__socialmedia {
  text-align: center;
  color: white;
}

.footer__socialmedia img {
  margin: 0 clamp(5px, 1vw + 0.2rem, 20px);
}

.footer__socialmedia div {
  height: clamp(40px, 1vw + 1rem, 100px);
}

a {
  text-decoration: none;
  font-family: open sans, arial, helvetica, sans-serif;
  color: black;
}

@media only screen and (min-width: 1024px) {
  .content-wrapper__center {
    max-width: 66%;
    margin: 0 auto !important;
  }
}

/* NAVBAR */

.navbar {
  display: flex;
  height: 72px;
  width: calc(100%);
  /* padding: 0.7em 5%; */
  z-index: 100;
}

.navbar > * {
  background-color: var(--intelligent_blue);
  padding: 0.7rem;
  display: flex;
}

.logo {
  height: 100%;

}

.menu {
  aspect-ratio: 1;
}

.hamburger-bar {
  height: 30px;
  aspect-ratio: 1;
  margin-block: auto;
  flex-direction: column;
  position: relative;
}

.bar {
  --bar-height: 15%;
  height: var(--bar-height);
  position: absolute;
  background: black;
  width: 100%;
  transition: all 200ms ease-out;
}

.bar--1 {
  top: 0;
}

.bar--2, .bar--3 {
  top: calc(50% - calc(var(--bar-height) 2.5px));
}

.bar--4 {
  bottom: 0;
}
.bar--1.close {
  transform: translateY(13px) scale(0);
}

.bar--4.close {
  transform: translateY(-13px) scale(0);
}

.bar--2.close {
  transform: rotate(45deg);
}

.bar--3.close {
  transform: rotate(-45deg);
}

.logo-wrapper {
  flex: 1;
}

.logo-wrapper,
.searchbar-wrapper,
.menu {
  z-index: 100;
}
/* menu */
#primary-nav {
  transform: translateY(-155%);
}
.animate-nav {
  transition: all ease-out 300ms;
}

#primary-nav[data-visible="true"] {
  transform: translateY(0%);
}

#primary-nav label::after {
  content: "+";
  margin-left: 10px;
}

#primary-nav {
  position: absolute;
  top: 90px;
  left: 0;
  background-color: var(--intelligent_blue);
  z-index: 1;
  transform-origin: top;
}



#primary-nav li,
#primary-nav a {
  list-style-type: none;
  color: white;
  font-family: montserrat Arial, Helvetica, sans-serif;
  font-size: var(--font-size-h3);
  font-weight: bold;
}

#primary-nav li {
}

#primary-nav > ul > li {
  margin-bottom: 10px;
  margin-left: 10%;
}

.exhibitions__list {
  display: none;
  padding: 1rem;
}

.exhibitions__list li a {
  display: flex;
  gap: 15px;
  margin-block: 0.3em;
}

.exhibitions__list li img {
  height: clamp(20px, 1.143vw + 0.964rem, 35px);
  width: clamp(25px, 1.143vw + 0.964rem, 35px);
  margin: auto 0;
}



.active-li {
  text-decoration: underline;
  position: relative;
  pointer-events: none;
}

/* search */
.search-input {
  position: absolute;
  top: 72px;
  right: 0;
  height: 60px;
  font-size: 1rem;
  padding-inline: 1rem;
  width: 100%;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-out;
}

.search-btn {
  height: 100%;
  font-size: 1.75rem;
  padding-right: 1.5rem;
  top: 0;
  right: 0;
  display: flex;
}

@media only screen and (min-width:769px) {
  .searchbar-wrapper {
    flex: 1;
  }

  .searchbar {
    flex: 1;
    height: 100%;
    position: relative;
    display: flex;
  }
  
  .search-input {
    position: relative;
    height: 100%;
    top: 0px;
    flex: 1;
  }
  
  .search-btn {
    height: 100%;
    font-size: 1.75rem;
    padding-right: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
  }

}


/* upcoming events */
.exhibition_events {
  width: calc(15rem + 14vw);
}

.exhibition_events img {
  object-fit: cover;
}

.exhibition_events__img {
  height: calc(5rem + 5vw);
}

.exhibition_events p:last-child {
  margin-top: 1em;
}

.event__date::before {
  content: url(/assets/icons/icon__calendar.svg);
  margin-right: 13px;
}

.upcoming-events a {
  text-decoration: underline;
}

/* DRY */
.toggle_btn,
.toggle_btn ~ p {
  display: none;
}

.toggle_btn:checked ~ p,
.content-wrapper__faq label {
  display: block;
}

.fa-search,
.tile__descr,
.contactus div img {
  align-self: center;
}

.exhibition_events img,
.footer__socialmedia div,
nav,
.main__aboutus img,
.guided-tour img,
.contactus div img,
.topbanner_exhibition img,
.static__google-map,
.content-wrapper_mapandinfo,
.hero__img,
.tile,
.tile__descr,
.aboutus__endsection h2 {
  width: 100%;
}

.menu__icon img,
.footer__socialmedia img,
.exhibition_events img,
.aboutus__middlesection,
.aboutus__intro img,
.aboutus__endsection img,
.guided-tour img,
.contactus div img {
  height: 100%;
}

.hero__img,
.guided-tour img,
.main__aboutus img,
.profile img {
  object-fit: cover;
}

/* Media queries */

@media only screen and (min-width: 769px) {
  .navbar {
    --nav-height: 90px;
    height: var(--nav-height);
  }


}

@media only screen and (max-width: 769px) {
  .content-wrapper_bodycontent {
    margin-inline: 1rem;
  }

  #primary-nav {
    top: 70px;
  }
}

@media only screen and (min-width: 1024px) {
/*   .searchbar {
    position: relative;
    height: 100%;
  }

  .search-input {
    border-radius: 4px;
  } */

  .content-wrapper__contactus {
    flex-flow: row wrap;
  }
}


/* utility classes */
  .display {
    opacity: 1;
    transform: scale(1);
  }

  .display-block {
    display: block;
  }

 

